<h1>Edit Profile</h1>

<form method="POST" enctype="multipart/form-data">
  
  <label for="input-username">Username</label>
  <input type="text" name="username" placeholder="Your username" id="input-username" value="{{ user.username }}">

  <label for="bio">Bio</label>
  <textarea name="bio" id="bio" placeholder="A brief description about yourself" value="{{user.bio}}"></textarea>

  <label for="picture">Picture</label>
  <input type="file" accept="image/*" id="picture" name="picture">

  <button>Save Profile</button>
</form>