<h1>{{ profile.username }}</h1>

<img src="{{profile.picture}}" alt="User's profile picture" id="image-profile">

<p>{{profile.bio}}</p>



{{#each paths}}

{{>routecard}}
{{/each}}



{{#if isOwnProfile}}
  <a href="/profile/edit">Edit Profile</a>
  
{{/if}}

