<section id="profile-header">
  <h1>{{ profile.username }}</h1>
  <img src="{{profile.picture}}" alt="User's profile picture" id="testingImg">
  <h5>About me:</h5>
  <p class="profile-bio">{{profile.bio}}</p>

{{#if isOwnProfile}}
  <a class="hover-link" href="/profile/edit"><button>Edit Profile</button></button></a>
{{/if}}

</section>

<div class="d-flex justify-content-between" id="profile-card-container">
{{#each paths}}
{{>routecard}}
{{/each}}
</div>



