<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/"><img src="https://res.cloudinary.com/duykugih7/image/upload/v1582758298/jan20/TYL_1_y6wtkp.png" alt="Logo" width="100px"></a>
      </li>
      <li class="nav-item nav-links">
        <a href="/path/create">Create Experience</a>
      </li>
      <li class="nav-item nav-links">
        <a href="/path/searchpaths">Experiences</a>
      </li>
    </ul>
      {{#if user}}
      <div class="d-flex">
        <a href="/profile/{{user._id}}" class="navMarg">Profile</a>
        <form action="/authentication/sign-out" method="POST">
          <button>Sign Out</button>
        </form>
      </div>
        {{else}}
        <a href="/authentication/sign-in">Sign In</a>
        <a href="/authentication/sign-up">Sign Up</a>
      {{/if}}
  </div>
</nav>

