    <div class="container">
      <div class="row">
        <div class="col-sm-4">
         <a href="/path/cultural"><img class="img-fluid shadow" src="https://source.unsplash.com/150x150/?cultural" alt="image" />
          <p class="pt-5">Cultural</p></a>
        </div>
        <div class="col-sm-4">
          <a href="/path/country"><img class="img-fluid shadow" src="https://source.unsplash.com/150x150/?country" alt="image" />
          <p class="pt-5">Country</p></a>
        </div>
        <div class="col-sm-4">
         <a href="/path/city"><img class="img-fluid shadow" src="https://source.unsplash.com/150x150/?city" alt="image" />
          <p class="pt-5">City</p></a>
        </div>
      </div>
    </div>
        <div class="container">
      <div class="row">
        <div class="col-sm-4">
         <a href="/path/cultural"><img class="img-fluid shadow" src="https://source.unsplash.com/150x150/?sea" alt="image" />
          <p class="pt-5">Sea</p></a>
        </div>
        <div class="col-sm-4">
         <a href="/path/sport"><img class="img-fluid shadow" src="https://source.unsplash.com/150x150/?sports" alt="image" />
          <p class="pt-5">Sport</p></a>
        </div>
        <div class="col-sm-4">
          <a href="/path/romantic"><img class="img-fluid shadow" src="https://source.unsplash.com/150x150/?romantic" alt="image" />
          <p class="pt-5">Romantic</p></a>
        </div>
      </div>
    </div>
     <div class="container">
      <div class="row">
        <div class="col-sm-4">
         <a href="/path/fun"><img class="img-fluid shadow" src="https://source.unsplash.com/150x150/?fun" alt="image" />
          <p class="pt-5">Fun</p></a>
        </div>
        <div class="col-sm-4">
         <a href="/path/party"><img class="img-fluid shadow" src="https://source.unsplash.com/150x150/?party" alt="image" />
          <p class="pt-5">Party</p></a>
        </div>
        <div class="col-sm-4">
          <a href="/path/wildlife"><img class="img-fluid shadow" src="https://source.unsplash.com/150x150/?Wildlife" alt="image" />
          <p class="pt-5">Wildlife</p></a>
        </div>
      </div>
    </div>





     