    
    <div class="subtitle">
        <p class="displaysubtitle" id="displaysubtitle">One-of-a-kind activities recommend by the users</p>
    </div>
  
    <div class="d-flex row activities">
        <div class="col-sm-4">
        <a href="/path/cultural">
        <div class="testingImg" id="culturalImg"></div>
{{!-- <img class="img-themes" src="https://source.unsplash.com/400x400/?cultural" alt="image" /> --}}
        <p class="pt-2" id="themes-titles">Cultural</p>
        </div></a>

        <div class="col-sm-4">
        <a href="/path/country">
        <div class="testingImg" id="countryImg"></div>
          {{!<img class="img-themes" src="" alt="image" />--}}
        <p class="pt-2" id="themes-titles">Country</p>
        </div></a>

        <div class="col-sm-4">
        <a href="/path/city">
        <div class="testingImg" id="cityImg"></div>
{{!--<a href="/path/city"><img class="img-themes" src="https://source.unsplash.com/400x400/?city" alt="image" />
 --}}          
        <p class="pt-2" id="themes-titles">City</p>
        </div></a>

        <div class="col-sm-4">
        <a href="/path/sea">
        <div class="testingImg" id="seaImg"></div>

{{!--          <a href="/path/cultural"><img class="img-themes" src="https://source.unsplash.com/400x400/?sea" alt="image" />
 --}}   <p class="pt-2" id="themes-titles">Sea</p>
        </div></a>

        <div class="col-sm-4">
        <a href="/path/sport">
        <div class="testingImg" id="sportImg"></div>

{{!--          <a href="/path/sport"><img class="img-themes" src="https://source.unsplash.com/400x400/?sports" alt="image" />
 --}}   <p class="pt-2" id="themes-titles">Sport</p>
        </div></a>

       <div class="col-sm-4">
        <a href="/path/romantic">
        <div class="testingImg" id="romanticImg"></div>
{{!--          <a href="/path/romantic"><img class="img-themes" src="https://source.unsplash.com/400x400/?romantic" alt="image" />
 --}}   <p class="pt-2" id="themes-titles">Romantic</p>
        </div></a>

        <div class="col-sm-4">
        <a href="/path/fun">
        <div class="testingImg" id="funImg"></div>
{{!--          <a href="/path/fun"><img class="img-themes" src="https://source.unsplash.com/400x400/?fun" alt="image" />
 --}}   <p class="pt-2" id="themes-titles">Fun</p>
        </div></a>

        <div class="col-sm-4">
        <a href="/path/party">
        <div class="testingImg" id="partyImg"></div>

{{!--          <a href="/path/party"><img class="img-themes" src="https://source.unsplash.com/400x400/?party" alt="image" />
 --}}   <p class="pt-2" id="themes-titles">Party</p>
        </div></a>
        
        <div class="col-sm-4">
        <a href="/path/wildlife">
        <div class="testingImg" id="wildlifeImg"></div>

{{!--          <a href="/path/wildlife"><img class="img-themes" src="https://source.unsplash.com/400x400/?wildlife" alt="image" />
 --}}   <p class="pt-2" id="themes-titles">Wildlife</p>
        </div></a>
        </div>





     