<h1>{{title}}</h1>

<section class="index-page-column">
<h4>Experiences are vetted for quality
<img src="https://res.cloudinary.com/duykugih7/image/upload/v1582650919/jan20/medal_nizqfj.png" class="img-index" alt="img-index">
</h4> 
<div class="row-indexpage">
  <div class="column">
  <p><img src="https://res.cloudinary.com/duykugih7/image/upload/v1582650919/jan20/team_ah0oha.png" class="img-index" alt="img-index"><br><strong>Users</strong><br>Users are giving their advices</p>
  </div>
  <div class="column"> 
  <p><img src="https://res.cloudinary.com/duykugih7/image/upload/v1582650919/jan20/fun_jh1vq5.png" class="img-index" alt="img-index"><br><strong>Best ideas</strong><br>You can get the best experiences</p>
  </div>
  <div class="column">
    <p><img src="https://res.cloudinary.com/duykugih7/image/upload/v1582650919/jan20/advice_1_tv3amu.png" class="img-index" alt="img-index"><br><strong>Best Tips</strong><br>With intimate tips</p>
  </div>
  <div class="column">
    <p><img src="https://res.cloudinary.com/duykugih7/image/upload/v1582650919/jan20/like_arxruj.png" class="img-index" alt="img-index"><br><strong>Quality</strong><br>Experiences reviewed for unique access.</p>
  </div>
</div>
</section>