<h1>The time of your life</h1>

<section class="index-page-column">

<h4>The Website where you can share the best experiences that you had with the world!</h4> 
<h4>Check the activities that our users recommend</h4> 

<div class="row-indexpage">
  <div class="column">
  <p><img src="https://res.cloudinary.com/duykugih7/image/upload/v1582650919/jan20/team_ah0oha.png" class="img-index" alt="img-index"><br><strong>Users</strong><br>Users are giving their advices, with unique routes</p>
  </div>
  <div class="column"> 
  <p><img src="https://res.cloudinary.com/duykugih7/image/upload/v1582650919/jan20/fun_jh1vq5.png" class="img-index" alt="img-index"><br><strong>Get ideas</strong><br>Search from your favorite categories</p>
  </div>
  <div class="column">
    <p><img src="https://res.cloudinary.com/duykugih7/image/upload/v1582650919/jan20/advice_1_tv3amu.png" class="img-index" alt="img-index"><br><strong>Join our community</strong><br> Create, share and consult experiences</p>
  </div>
  <div class="column">
    <p><img src="https://res.cloudinary.com/duykugih7/image/upload/v1582650919/jan20/like_arxruj.png" class="img-index" alt="img-index"><br><strong>Best time</strong><br>Activities, meals, and stays</p>
  </div>
</div>
</section>

<div id="theme-card-container">
{{#each value}}
{{>routecard}}
{{/each}}
</div>