<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Places Search Box</title>
    <style>
      .hidden{
        display: none;
      }
    </style>
  </head>
  <body>
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id="map"></div>
 
    <form method="post" id="markerList" enctype="multipart/form-data">
      <button>Submit Path!</button>
      <label for="name">Name your path:</label>
      <input type="text" placeholder="Name of your Path" name="name" maxlength="30">
      <label for="input-photos">Path photo:</label>
      <input type="file" name="photos" id="input-photos" accept="image/*"/>
      <label for="type">Choose a theme for your path:</label>
      <select id="type" name="type">
        <option value="Gastronomic">Gastronomic</option>
        <option value="Cultural">Cultural</option>
        <option value="Country">Country</option>
        <option value="City">City</option>
        <option value="Sea">Sea</option>
        <option value="Sport">Sport</option>
        <option value="Romantic">Romantic</option>
        <option value="Fun">Fun</option>
        <option value="Party">Party</option>
        <option value="Wildlife">Wildlife</option>
        <option value="Party">Shopping</option>
        <option value="Wildlife">Animals</option>
      </select>

      <label for="description">Describe this path:</label>
      <textarea id="description" name="description" maxlength="700"></textarea>
    </form>



   
   
    <script>
      function initAutocomplete() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -33.8688, lng: 151.2195},
          zoom: 13,
          mapTypeId: 'roadmap'
        });
        // Create the search box and link it to the UI element.
        var input = document.getElementById('pac-input');
        var searchBox = new google.maps.places.SearchBox(input);
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function() {
          searchBox.setBounds(map.getBounds());
        });
        let markerList = document.getElementById('markerList');
        var markers = [];
        var permanentMarkers = [];
        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        searchBox.addListener('places_changed', function() {
          var places = searchBox.getPlaces();
          if (places.length == 0) {
            return;
          }
          // Clear out the old markers.
        markers.forEach(function(marker) {
          marker.setMap(null);
         });
          markers = [];
          // For each place, get the icon, name and location.
          var bounds = new google.maps.LatLngBounds();
          places.forEach(function(place) {
            if (!place.geometry) {
              console.log("Returned place contains no geometry");
              return;
            }
            var icon = {
              url: place.icon,
              size: new google.maps.Size(71, 71),
              origin: new google.maps.Point(0, 0),
              anchor: new google.maps.Point(17, 34),
              scaledSize: new google.maps.Size(25, 25)
            };
            // Create a marker for each place.
            markers.push(new google.maps.Marker({
              map: map,
              icon: icon,
              title: place.name,
              position: place.geometry.location
            }));
             permanentMarkers.push(new google.maps.Marker({
              map: map,
              icon: icon,
              title: place.name,
              position: place.geometry.location
            }));
            markers.map(element =>{
              markerList.insertAdjacentHTML("beforeend", `<input type="text" placeholder="location" name="title" value="${element.title}">`) 
              markerList.insertAdjacentHTML("beforeend", `<input type="number" class="hidden" step="0.000000000000001" placeholder="location" name="lat" value="${element.position.lat()}">`)
              markerList.insertAdjacentHTML("beforeend", `<input type="number" class="hidden" step="0.000000000000001" placeholder="location" name="lng" value="${element.position.lng()}">`)
            }); 
            /*markers.map(element =>{
              titlein = document.createElement('titlein');
               titlein.innerHTML = `<input type="text" placeholder="location" name="title" value="${element.title}">`;
              latin = document.createElement('latin');
               latin.innerHTML = `<input type="number" class="hidden" step="0.000000000000001" placeholder="location" name="lat" value="${element.position.lat()}">`;
              lngin = document.createElement('lngin');
               lngin.innerHTML = `<input type="number" class="hidden" step="0.000000000000001" placeholder="location" name="lng" value="${element.position.lng()}">`;
              markerList.appendChild(titlein);
              markerList.appendChild(latin);
              markerList.appendChild(lngin);
            }); */
           let removeButon = document.getElementsByClassName('remove-button');
        for(var i = 0; i < removeButon.length; i++){
        removeButon[i].addEventListener('click', function(a) {
        node.parentNode.removeChild(node);
        });
        }
            if (place.geometry.viewport) {
              // Only geocodes have viewport.
              bounds.union(place.geometry.viewport);
            } else {
              bounds.extend(place.geometry.location);
            }
          });
          map.fitBounds(bounds);
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{google}}&libraries=places&callback=initAutocomplete"
         async defer></script>
  </body>
</html>