

<form method="POST" enctype="multipart/form-data" class="form-style">
  <h1>Edit Experience</h1>
  <label for="name">Path Name</label>
  <input type="text" name="name" placeholder="{{value.name}}" id="input-name" value="{{value.name}}">

  <label for="type">Path Type</label>
   <select id="type" name="type">
        <option value="Gastronomic">Gastronomic</option>
        <option value="Cultural">Cultural</option>
        <option value="Country">Country</option>
        <option value="City">City</option>
        <option value="Sea">Sea</option>
        <option value="Sport">Sport</option>
        <option value="Romantic">Romantic</option>
        <option value="Fun">Fun</option>
        <option value="Party">Party</option>
        <option value="Wildlife">Wildlife</option>
        <option value="Shopping">Shopping</option>
        <option value="Animals">Animals</option>
      </select>
  
  <label for="description">Description</label>
  <textarea name="description" id="description" placeholder="Experience description" maxlength="700">{{value.description }}</textarea>

  <label for="picture">Picture</label>
  <input type="file" accept="image/*" id="picture" name="picture">
  <label for="duration">Duration: </label>
  <input id="duration" type="time" name="duration" value="{{value.duration}}">
  <button>Save Experience</button>
</form> 